<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>用户界面</title>
</head>
<body>
<h2>欢迎参加新生C语言比赛！</h2>
<p><label>您的ID：{{ user.id }}</label></p>
<p><label>您的用户名：{{ user.username }}</label></p>
<p><a href="notice/"><button>查看公告</button></a></p>
<p><a href="upload/"><button>上传代码</button></a></p>
<p><a href="writeblog/"><button>撰写博客</button></a></p>
<h3>选手列表</h3>
    <div class=“user-post”>
        {% for player in players %}
            <div>
                <p><a href="visit{{ player.id }}/">{{ player.username }}</a></p>
            </div>
        {% endfor %}
    </div>
<p><a href="http://127.0.0.1:8000/"><button>退出</button></a></p>
</body>
</html>
